h1 {
    border: 35px;
    border-color: indianred;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    font-size: x-large;
 }
 
h3 { border: 35px;
    border-color: indianred;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-large;
}
 
h2 { border: 35px;
    border-color: indianred;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-large;
}